@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer utilities {
  .snap-x {
    scroll-snap-type: x mandatory;
  }
  .snap-mandatory {
    scroll-snap-align: start;
  }
  .scroll-smooth {
    scroll-behavior: smooth;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8f6f5;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: "Freight Neo Pro Black";
  src: url("/fonts/Freight Neo Pro Black.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Freight Neo Pro Medium";
  src: url("/fonts/Freight Neo Pro Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Freight Neo Pro Semibold";
  src: url("/fonts/Freight Neo Pro Semibold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Freight Neo Pro Bold";
  src: url("/fonts/Freight Neo Pro Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Freight Neo Pro Light";
  src: url("/fonts/Freight Neo Pro Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Candide-CondensedBold";
  src: url("/fonts/Candide-CondensedBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Candide-CondensedMedium";
  src: url("/fonts/Candide-CondensedMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Freight Neo Pro Normal";
  src: url("/fonts/Freight Neo Pro Book.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Candide-CondensedNormal";
  src: url("/fonts/Candide-CondensedRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 231px;
  height: 289px;
  border-radius: 10px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

option {
  border: none;
  background: white; /* Optional */
}

@media (min-width: 1024px) and (min-height: 600px) {
  .herosection {
    height: 300vh;
  }
}
@media (min-width: 1024px) and (min-height: 768px) {
  .herosection {
    height: 250vh;
  }
}

@media (min-width: 1280px) and (min-height: 800px) {
  .herosection {
    height: 280vh;
  }
}

@media (min-width: 1366px) and (min-height: 768px) {
  .herosection {
    height: 290vh;
  }
}

@media (min-width: 1440px) and (min-height: 900px) {
  .herosection {
    height: 260vh;
  }
}
@media (min-width: 1680px) and (min-height: 1050px) {
  .herosection {
    height: 240vh;
  }
}
@media (min-width: 1920px) and (min-height: 1080px) {
  .herosection {
    height: 300vh;
  }
}
@media (min-width: 1920px) and (min-height: 1200px) {
  .herosection {
    height: 215vh;
  }
}
@media (min-width: 2560px) and (min-height: 1440px) {
  .herosection {
    height: 193vh;
  }
}
@media (min-width: 3840px) and (min-height: 2160px) {
  .herosection {
    height: 155vh;
  }
}

@media (min-width: 4096px) and (min-height: 2304px) {
  .herosection {
    height: 150vh;
  }
}
@media (min-width: 5120px) and (min-height: 2880px) {
  .herosection {
    height: 135vh;
  }
}

/* Default (Mobile First) */
.herosection {
  height: 170vh; /* Default height for small screens */
}

/* 641px - 767px */
@media (min-width: 641px) and (max-width: 767px) {
  .herosection {
    height: 172vh;
  }
}

/* 768px - 799px */
@media (min-width: 768px) and (max-width: 799px) {
  .herosection {
    height: 200vh;
  }
}

/* 800px - 1023px */
@media (min-width: 800px) and (max-width: 1023px) {
  .herosection {
    height: 173vh;
  }
}

/* Larger screens */
@media (min-width: 1024px) and (min-height: 600px) {
  .herosection {
    height: 300vh;
  }
}

@media (min-width: 1024px) and (min-height: 768px) {
  .herosection {
    height: 250vh;
  }
}

@media (min-width: 1280px) and (min-height: 800px) {
  .herosection {
    height: 280vh;
  }
}

@media (min-width: 1366px) and (min-height: 768px) {
  .herosection {
    height: 290vh;
  }
}

@media (min-width: 1440px) and (min-height: 900px) {
  .herosection {
    height: 260vh;
  }
}

@media (min-width: 1680px) and (min-height: 1050px) {
  .herosection {
    height: 10vh;
  }
}

@media (min-width: 1920px) and (min-height: 1080px) {
  .herosection {
    height: 300vh;
  }
}

@media (min-width: 1920px) and (min-height: 1200px) {
  .herosection {
    height: 215vh;
  }
}

@media (min-width: 2560px) and (min-height: 1440px) {
  .herosection {
    height: 193vh;
  }
}

@media (min-width: 3840px) and (min-height: 2160px) {
  .herosection {
    height: 155vh;
  }
}

@media (min-width: 4096px) and (min-height: 2304px) {
  .herosection {
    height: 150vh;
  }
}

@media (min-width: 5120px) and (min-height: 2880px) {
  .herosection {
    height: 135vh;
  }
}



/* relative w-full h-[170vh] md:h-[200vh] lg:h-[253vh] lg2:h-[280vh] xl:h-[225vh] */