@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer utilities {
  .snap-x {
    scroll-snap-type: x mandatory;
  }
  .snap-mandatory {
    scroll-snap-align: start;
  }
  .scroll-smooth {
    scroll-behavior: smooth;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8f6f5;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: "Freight Neo Pro Black";
  src: url("/fonts/Freight Neo Pro Black.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Freight Neo Pro Medium";
  src: url("/fonts/Freight Neo Pro Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Freight Neo Pro Semibold";
  src: url("/fonts/Freight Neo Pro Semibold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Freight Neo Pro Bold";
  src: url("/fonts/Freight Neo Pro Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Freight Neo Pro Light";
  src: url("/fonts/Freight Neo Pro Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Candide-CondensedBold";
  src: url("/fonts/Candide-CondensedBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Candide-CondensedMedium";
  src: url("/fonts/Candide-CondensedMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Freight Neo Pro Normal";
  src: url("/fonts/Freight Neo Pro Book.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Candide-CondensedNormal";
  src: url("/fonts/Candide-CondensedRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 231px;
  height: 289px;
  border-radius: 10px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
